@import "../../../../models/style/main.scss";

.OpeningHours {
  width: 85vw;
  margin-right: auto;
  animation: fade 0.5s ease-in-out;

  @include respond(phone) {
    width: 100vw;
    margin-right: 0;
  }

  & .Body {
    @include settingsBody;
    height: 400px;

    @include respond(phone) {
      height: 100%;
    }

    & .Days {
      display: flex;
      justify-content: space-around;

      @include respond(phone) {
        display: none;
      }

      & .Day {
        font-size: 1rem;
        color: $text-body;
      }
    }

    & .DaysContent {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;

      @include respond(phone) {
        flex-wrap: wrap;
        margin-top: 10px;
      }

      & .DayContent {
        margin: auto;

        & label {
          display: block;
          margin: auto;
        }

        & div {
          margin-top: 30px;
        }

        & .Day {
          display: none;

          @include respond(phone) {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }

  & .Button {
    @include settingsButton;

    @include respond(phone) {
      text-align: center;
    }
  }
}
